<div>
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carousel-img">
        <img
          src="../../../assets/home_carousel/in_the_castle__new_size.jpg"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Welcome!</h3>
        <p>It's good to have you here! Look around, have fun in our virtual snug.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carousel-img">
        <img
          src="../../../assets/home_carousel/things_in_kitchen_new_size.jpg"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <span class="carousel_caption-inside-container">
          <h3>Recipes</h3>
          <p>We cook, bake, and share best practices, hope you find it useful</p>
        </span>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper carousel-img">
        <img
          src="../../../assets/home_carousel/coffee_together_new_size_small.jpg"
          alt="Random third slide"
          class="d-block mx-auto w-100"
        />
      </div>
      <div class="carousel-caption">
        <h3>Sisters</h3>
        <p> We're Flora and Fanni, sisters, we currently live in Budapest</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <h2 class="mb-4">Who are we?</h2>
        <p>
          Fanni and I are sisters, there is a 4 year age difference between us.
          We live in Csákvár, but in recent years we both live in Budapest.
          Fanni is working as a toddler and will graduate now. I graduated as a
          special education teacher, and recently completed a junior frontend
          development training, so creating this website is both a hobby and a
          practice for me. We have another third brother, Kristóf, he prefers to
          take part in the tasting, not so much in the cooking and baking.
        </p>
      </div>
      <div class="col-md-4 d-flex flex-column align-items-end">
        <img
          src="../../../assets/home_images/sisters_walk.jpg"
          class="home_image-circle"
          alt=""
        />
      </div>
    </div>
  </div>
  <div class="home_image-introduction--container">
    <img
      src="../../../assets/home_images/apple_pie.jpg"
      class="home_image-introduction"
      alt=""
    />
  </div>
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-4 d-flex flex-column align-items-start home_image-big">
        <img
          src="../../../assets/home_images/working.jpg"
          class="home_image-circle"
          alt=""
        />
      </div>
      <div class="col-md-8 d-flex flex-column justify-content-center">
        <h2 class="mb-4">About our SisMeals Project</h2>
        <p>
          Fanni and I really like to bake and cook. We used to ask each other in
          the past about recipes our other uses, we wanted to share them with
          each other. We first shared these with each other through a common
          Instagram profile, but this wasn’t as convenient to use. This is why
          we opted for a website that is easy for both of us to edit. So if you
          want to add someone to this little team later, you can easily do so
          without the need for an Instagram account.
        </p>
      </div>
    </div>
  </div>
</div>
