.carousel-img {
  width: 100vw;
  max-width: 100vw;
  height: 90vh;
  max-height: 90vh;
  object-fit: cover;
}

.home_image-circle {
  max-width: 17vw;
  border-radius: 50%;
}

.home_image-introduction {
  width: 100vw;
  max-width: 100vw;
  height: 90vh;
  max-height: 90vh;
  object-fit: cover;
}