<footer>
  <div class="d-flex flex-column align-items-center bg-light pt-5 pb-3">
    <div class="pb-3">
      <div class="d-inline-block">
        <i class="fa fa-facebook"></i>
      </div>
      <div class="d-inline-block mx-3">
        <i class="fa fa-twitter"></i>
      </div>
      <div class="d-inline-block">
        <i class="fa fa-instagram"></i>
      </div>
    </div>
    <p class="mb-1">sismealsrecipes@gmail.com</p>
    <p class="text-muted">© SisMeals Recipes</p>
  </div>
</footer>
