<div class="container mt-3 mb-5">
  <div class="col-4 form-group mb-5">
    <label for="tableSearch" class="mb-1">Search by Category</label>
    <select [(ngModel)]="catFilter" id="tableSearch" class="form-control">
      <option value="">All column</option>
      <option *ngFor="let key of keys" [value]="key">
        {{ key }}
      </option>
    </select>
  </div>

  <div class="recipe_list--container">
    <div
      *ngFor="let recipe of recipeList$ | async | filter: catFilter:'category'"
      class="recipe_list--item"
    >
      <div>
        <div class="card">
          <div class="card_img--container">
            <img
              src="../../../assets/home_carousel/3.jpg"
              alt=""
              class="card_img"
            />
          </div>
          <div class="card_info--container p-2">
            <div class="card_info--top">
              <div>
                <i class="fa fa-clock-o me-1"></i>
                <p class="d-inline-block">{{ recipe.time }} MIN</p>
              </div>
              <div>
                <i class="fa fa-tag me-1"></i>
                <p class="d-inline-block">{{ recipe.category }}</p>
              </div>
            </div>
            <div class="card_info--title">
              <h5 class="w-100 mb-0">{{ recipe.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
