<div class="container mt-5 mb-4">
  <div class="row mb-4">
    <div class="col-4 form-group category_cearch--container">
      <label for="tableSearch" class="mb-1">Search by Category</label>
      <select
        [(ngModel)]="catFilter"
        id="tableSearch"
        class="form-control form-select"
      >
        <option value="">All Categorys</option>
        <option *ngFor="let key of keys" [value]="key">
          {{ key }}
        </option>
      </select>
    </div>

    <div class="col-8 input_container search_container">
      <label for="">Search by Food Name</label>
      <input
        [(ngModel)]="phrase"
        type="text"
        class="form-control mt-1"
        placeholder="What kind of food are you looking for?"
      />
    </div>
  </div>

  <div class="row mb-5 button_container">
    <button
      [routerLink]="['/edit-recipe', 0]"
      type="button"
      class="btn btn-outline-secondary"
    >
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      Add new recipe
    </button>
  </div>

  <div class="recipe_list--container">
    <div
      *ngFor="
        let recipe of recipeList$
          | async
          | search: phrase:'name'
          | filter: catFilter:'category'
      "
      class="recipe_list--item"
    >
      <div>
        <div class="card" [routerLink]="['/recipe-details', recipe.id]">
          <div class="card_img--container">
            <img [src]="recipe.imgUrl" alt="" class="card_img" />
          </div>
          <div class="card_info--container p-2">
            <div class="card_info--top">
              <div>
                <i class="fa fa-clock-o me-1"></i>
                <p class="d-inline-block">{{ recipe.time }} MIN</p>
              </div>
              <div>
                <i class="fa fa-tag me-1"></i>
                <p class="d-inline-block">{{ recipe.category }}</p>
              </div>
            </div>
            <div class="card_info--title">
              <h5 class="w-100 mb-0">{{ recipe.name }}</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
